@font-face {
    font-family: 'CreditCardFont';
    src: url('./CREDCARD.ttf');
}

.component-atm-card {
    font-family: 'CreditCardFont', sans-serif;
    border-radius: 12px;
    font-weight: normal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: #D4AF37; 	/* #CFB53B; */
    position: relative;
    animation: rotateATMCard .6s ease-in-out;
    -webkit-animation: rotateATMCard .6s ease-in-out;
    -moz-animation: rotateATMCard .6s ease-in-out;
}

.component-atm-card-container.lifted div.component-atm-card {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

/* CARD NUMBER */
.component-atm-card-number {
    font-family: 'CreditCardFont', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: .5px .5px #4d4d4d;
    cursor: pointer;
    position: relative;
}

.component-atm-card-number > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.component-atm-card-number > span {
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
}

.component-atm-card-number input {
    width: 100%;
}

/* INPUTS */
.component-atm-card-number input,
.component-atm-card-holder input,
.component-atm-card-date input,
.component-atm-card-cvv input {
    padding: 0;
    border: none;
    border-bottom: 1px solid #fff;
    caret-color: #fff;
    color: #fff;
    font-family: 'CreditCardFont', sans-serif;
    font-weight: normal;
    outline: none;
    background-color: transparent; /*rgba(255, 255, 255, .7); */
}

.component-atm-card-cvv input[type=number]::-webkit-inner-spin-button,
.component-atm-card-date input[type=number]::-webkit-inner-spin-button, 
.component-atm-card-number input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* CARD HOLDER */
.component-atm-card-holder {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 6.5%;
    left: 4%;
    text-align: left;
}

.component-atm-card-holder > div {
    cursor: pointer;
    text-align: left;
}

.component-atm-card-holder input {
    font-family: 'Arial','sans-serif';
    text-transform: uppercase;
}

.component-atm-card-holder,
.component-atm-card-cvv {
    font-family: 'CreditCardFont', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: .5px .5px #4d4d4d;
}

/* CARD CVV */
.component-atm-card-cvv {
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 4%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.component-atm-card-cvv > span {
    margin-right: 10px;
}

.component-atm-card-cvv input {
    width: 17%;
    letter-spacing: 1.5px;
}

/* CARD DATE */
.component-atm-card-date {
    font-family: 'CreditCardFont', sans-serif;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #fff;
    text-shadow: .5px .5px gray;
    position: absolute;
    left: 4%;
    bottom: 25%;
    cursor: pointer;
}

.component-atm-card-date input {
    width: auto;
    letter-spacing: 1.5px;
}

.component-atm-card-date > div {
    margin: 5px 0;
}

.component-atm-card-date > div.expired-dates {
    display: flex;
    align-items: center;
}

.component-atm-card-date > div.expired-dates > input {
    /* margin-right: 2px; */
    text-align: center;
}

.component-atm-card-system-logo {
    text-align: end;
    position: absolute;
    bottom: 2%;
    right: 3%;
}

.component-atm-card-controls {
    text-align: end;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}

.component-atm-card-bank {
    position: absolute;
    top: 4%;
    left: 4%;
}

.component-atm-card-bank-back {
    position: absolute;
    bottom: 30%;
    left: 4%;
}

.component-atm-card-magnet {
    position: absolute;
    width: 100%;
    background-color: #2d2d2d;
    top: 20%;
    left: 0;
}

.component-atm-card-magnet.dark {
    background-color: #5d5d5d;
}

@keyframes rotateATMCard {
    0% { transform: rotateY(3.142rad); opacity: .3;}
    100% { transform: rotateY(0); opacity: 1;}
}

@-webkit-keyframes rotateATMCard {
    0% { transform: rotateY(3.142rad); opacity: .3;}
    100% { transform: rotateY(0); opacity: 1;}
}

@-moz-keyframes rotateATMCard {
    0% { transform: rotateY(3.142rad); opacity: .3;}
    100% { transform: rotateY(0); opacity: 1;}
}